* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.margin-bottom{
    margin-bottom: 2rem;
}

.title-color{
    color: #111929;
}

.text-color-regular{
    color: #8E929A;
}

/* menu dropdown */

.dropdown .menu-sm li a{
    justify-content: end;
}

.menu li a:hover{
    color: #5742F4;
    background-color: transparent;
}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer-social a{
    cursor: pointer;
}